{%- assign lang = page.lang -%}
{%- assign cv = site.data.cv[page.lang] | default: site.data.cv.en -%}
<div class="page cv" itemid="alla" itemscope itemtype="https://schema.org/Person">
    <div class="cv-progress-bar"></div>
    <header class="cv-header">
        <div class="cv-header-banner">
            <h1 class="m-0 fs-2" itemprop="name">{{cv.name}}</h1>
            <h2 class="m-0 fs-5" itemprop="jobTitle">{{cv.position}}</h2>
        </div>
        <div class="cv-header-image">
            <figure class="cv-avatar">
                <img loading="lazy" itemprop="image" alt="{{cv.name}}" src="{{ cv.image }}">
            </figure>
        </div>
        <div class="cv-header-info">
            <div class="cv-header-line">
                <a href="{{ cv.website.url }}" class=" cv-link fx-inline">
                    <span class="icon mr-2">{% include icon name="circle-bookmark" %}</span>
                    <span itemprop="url">{{ cv.website.label }}</span>
                </a>
            </div>
            <div class="cv-header-line">
                <a href="{{ cv.email.url }}" class="cv-link fx-inline">
                    <span class="icon mr-2">{% include icon name="circle-envelope" %}</span>
                    <span itemprop="email">{{ cv.email.label }}</span>
                </a>
            </div>
            <div class="cv-header-line">
                <a href="{{ cv.phone.url }}" class="cv-link fx-inline">
                    <span class="icon mr-2">{% include icon name="circle-phone" %}</span>
                    <span itemprop="telephone">{{ cv.phone.label }}</span>
                </a>
            </div>
        </div>
        <div class="cv-header-menu">
            <a href="#" data-rel="nav" aria-label="Menu" data-nav="" class="cv-link cv-toggle">
                <span class="icon">{% include icon name="envelope-dot" %}</span>
            </a>
        </div>
    </header>
    <main class="cv-content">
        <section>
            <h2 class="fs-4">{% include i18n id="Professional skills" %}</h2>
            <article>
                {% for group in cv.experience %}
                <h3 class="fs-5">{{ group.name }}</h3>
                <ul class="cv-tech-list">
                    {% for item in group.list %}
                    <li class="fx-row fx-ai-center fx-min-0">
                        <span class="fx-truncate mr-auto">{{ item.name }}</span>
                        <span class="stars stars-{{ item.value }}"></span>
                    </li>
                    {% endfor %}
                </ul>
                {% endfor %}
            </article>
        </section>
        <section>
            <h2 class="fs-4">{% include i18n id="Career History" %}</h2>
            {% for item in cv.work limit: 1 %}
                {% include block/employer.liquid itemprop='worksFor' %}
            {% endfor %}
            {% for item in cv.work offset: 1 %}
                {% include block/employer.liquid itemprop='alumniOf' %}
            {% endfor %}
        </section>
        <section>
            <h2 class="fs-4">{% include i18n id="Education" %}</h2>
            {% for item in cv.education %}
                {% include block/education.liquid itemprop='alumniOf' %}
            {% endfor %}
        </section>
     </main>
    <aside class="cv-sidebar">
        <section class="cv-summary">
            <h2 class="fs-4">{% include i18n id="Summary" %}</h2>
            <blockquote class="cv-bio">{{ cv.summary | markdownify }}</blockquote>
        </section>
        <section class="cv-hard-skills">
            <h2 class="fs-4">{% include i18n id="Hard Skills" %}</h2>
            <article>
                <ul class="cv-list">
                    {%- for item in cv.skills.hard %}
                    <li>{{item}}</li>
                    {%- endfor %}
                </ul>
            </article>
        </section>
        <section class="cv-soft-skills">
            <h2 class="fs-4">{% include i18n id="Soft Skills" %}</h2>
            <article>
                <ul class="cv-list">
                    {%- for item in cv.skills.soft %}
                    <li>{{ item }}</li>
                    {%- endfor %}
                </ul>
            </article>
        </section>
        <section class="cv-languages">
            <h2 class="fs-4">{% include i18n id="Languages" %}</h2>
            <article>
                <ul class="cv-list-grid">
                    {% for item in cv.languages %}
                    <li itemprop="knowsLanguage" itemscope itemtype="https://schema.org/Language" class="fx-row fx-ai-center">
                        {% include block/progress.liquid value=item.value color=item.color %}
                        <div class="ml-3">
                            <div itemprop="name">{{item.name}}</div>
                            <div class="small c-secondary">{{ item.level }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </article>
        </section>
        <section class="cv-interests">
            <h2 class="fs-4">{% include i18n id="Interests & Hobbies" %}</h2>
            <article>
                <ul class="cv-list-grid">
                    {% for item in cv.interests %}
                    <li class="fx-row">
                        <div class="c-dark">
                            <span class="icon large block">{% include icon name=item.icon %}</span>
                        </div>
                        <div class="ml-3">
                            <div>{{ item.name }}</div>
                            <div class="small c-secondary">{{ item.summary }}</div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </article>
        </section>
        <section class="cv-profiles">
            <h2 class="fs-4 mb-0">{% include i18n id="Social Profiles" %}</h2>
            <p class="small c-secondary">{% include i18n id="Places where you can follow me" %}</p>
            <article>
                <div class="cv-list-grid">
                    {% for item in cv.profiles %}
                        <a href="{{ item.url }}" itemprop="sameAs" class="cv-link fx-row fx-ai-center">
                            <div class="{{ item.color }}">
                                <div class="icon large block">{% include icon name=item.icon %}</div>
                            </div>
                            <div class="ml-3 fx-truncate">
                                <div>{{ item.name }}</div>
                                <div class="small c-secondary text-truncate">{{ item.summary }}</div>
                            </div>
                            <div class="ml-auto cv-hover-arrow">
                                <div class="icon block">{% include icon name="chevron-right" %}</div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </article>
        </section>
    </aside>
    <footer class="cv-footer">
        <div class="cv-footer-left" aria-label="footer-left">
            <div class="nowrap">{% include i18n id="Designed & Coded with" %}</div>
            <div class="icon ml-2 c-pink">{% include icon name="heart" %}</div>
        </div>
        <div class="cv-footer-right" aria-label="footer-right">
            <span class="nowrap c-secondary mr-2">{% include i18n id="Choose language" %}:</span>
            <a href="{{ '/uk/' | absolute_url }}" aria-label="Українська" hreflang="uk-UA" class="icon icon-flag ml-2">{% include icon name='flag-uk' %}</a>
            <a href="{{ '/en/' | absolute_url }}" aria-label="English" hreflang="en-US" class="icon icon-flag ml-2">{% include icon name='flag-en' %}</a>
        </div>
    </footer>
</div>

<div class="nav">
    <div class="nav-backdrop" data-nav=""></div>
    <div class="nav-content">
        <section>
            <h2 class="fx fx-ai-center">
                <span>{% include i18n id="Hire me" %}</span>
                <button data-nav="" aria-label="Close" class="icon close small block ml-auto">{% include icon name="times" %}</button>
            </h2>
            <article>
                <p>
                    {% include i18n id="If you have an open project or just need a consultation, you can contact me via" %}
                    <a href="{{ site.contacts.telegram }}" rel="me" target="_blank">Telegram</a>,
                    <a href="{{ site.contacts.skype }}" rel="me" target="_blank">Skype</a> {% include i18n id="or" %}
                    <a href="{{ site.contacts.messenger }}" rel="me" target="_blank">Messenger</a>.
                </p>
            </article>
        </section>
        <section>
            <h2>{% include i18n id="Feedback" %}</h2>
            <form method="post" action="https://forms.un-static.com/forms/20d47566f4e58b3b682c7e9ad6ce943e7b5c6bbe">
                <fieldset>
                    <label for="name">{% include i18n id="Full Name" %}:</label>
                    <input required="" name="name" id="name" placeholder="{% include i18n id="John Doe" %}" type="text">
                </fieldset>
                <fieldset>
                    <label for="email">{% include i18n id="Email" %}:</label>
                    <input type="email" required="" id="email" name="email" placeholder="johndoe@website.com">
                </fieldset>
                <fieldset>
                    <label for="subject">{% include i18n id="Subject" %}:</label>
                    <select required="" id="subject" name="subject">
                        <option value="" disabled selected>{% include i18n id="Choose subject" %}:</option>
                        <option value="Question">{% include i18n id="Question" %}</option>
                        <option value="Job Offer">{% include i18n id="Job Offer" %}</option>
                    </select>
                </fieldset>
                <fieldset>
                    <label for="message">{% include i18n id="Message" %}:</label>
                    <textarea required="" id="message" name="message"></textarea>
                </fieldset>
                <fieldset>
                    <button data-nav="">{% include i18n id="Back to CV" %}</button>
                    <button type="submit">{% include i18n id="Send" %}</button>
                </fieldset>
            </form>
        </section>
        <section class="h-1"></section>
    </div>
</div>
