<article itemprop="{{ include.itemprop }}" itemscope itemtype="http://schema.org/EducationalOrganization">
    <meta content="{{ item.name }}" itemprop="name">
    <meta content="{{ item.url }}" itemprop="url">
    <meta content="{{ item.description }}" itemprop="description">
    <meta content="{{ item.location }}" itemprop="location">
    <div class="fs-5 bold fx-row fx-wrap fx-ai-center">
        <span class="icon c-secondary">{% include icon name=item.type %}</span>
        <span class="ml-2 mr-4 -tg">{{ item.name }}</span>
        <i class="m-auto"></i>
        <span class="normal small -tg">{% include period start=item.date_start end=item.date_end %}</span>
    </div>
    {% if item.description %}
        {{ item.description | markdownify }}
    {% endif %}
    {% if item.summary %}
        {{ item.summary | markdownify }}
    {% endif %}
    {% if item.location %}
        <p class="fx-row fx-inline fx-ai-center">
            <span class="icon c-danger mr-2">{% include icon name='map-location-dot' %}</span>
            {{ item.location }}
        </p>
    {% endif %}
</article>
