{% assign parent = forloop.index %}
<article class="cv-employer" itemprop="{{ include.itemprop }}" itemscope itemtype="http://schema.org/Organization">
    <meta content="{{ item.name }}" itemprop="name">
    <meta content="{{ item.url }}" itemprop="url">
    <div itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <meta content="{{ item.address }}" itemprop="addressLocality">
    </div>
    <div itemprop="employee" itemscope itemtype="http://schema.org/Person">
        <meta content="#alla" itemprop="sameAs">
        <div itemprop="hasOccupation" itemscope itemtype="http://schema.org/EmployeeRole">
            <meta content="{{ item.position }}" itemprop="roleName">
            <meta content="{{ item.date_start | date: '%Y-%m' }}" itemprop="startDate">
            <meta content="{{ item.date_end | date: '%Y-%m' }}" itemprop="endDate">
        </div>
    </div>
    <h3 class="fs-5 fx-row fx-wrap">
        <span class="mr-4">{{ item.name }} — {{ item.position }}</span>
        <i class="m-auto"></i>
        <span class="normal small">{% include period start=item.date_start end=item.date_end %}</span>
    </h3>
    {% if item.summary %}
    {{ item.summary | markdownify }}
    {% endif %}
    {% if item.duties %}
    <h4 class="fs-6">{% include i18n id="Duties" %}:</h4>
    {{ item.duties | markdownify }}
    {% endif %}
    {% if item.projects %}
    <h4 class="fs-6">{% include i18n id="Featured projects" %}:</h4>
    <div class="cv-project-list">
        {% for project in item.projects %}
        <div class="cv-project-item">
            <div class="image-thumb-content">
                <div class="image-thumb-wrapper">
                    <a href="{{ project.image | absolute_url }}" target="_blank" class="image-thumb-preview">
                        <img loading="lazy" src="{{ project.image | absolute_url }}" alt="{{ project.summary }}">
                    </a>
                    <div class="image-thumb-summary">{{ project.summary }}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</article>
